/* Variables */
:root {
  --color-light: white;
  --color-dark: hsl(230, 17%, 14%);
  --color-gray: #6f7388;
  --color-gray-light: hsl(228, 34%, 66%);
  --color-success: hsl(163, 72%, 41%);
  --color-danger: hsl(356, 69%, 56%);
  --color-facebook: hsl(208, 92%, 53%);
  --color-twitter: hsl(203, 89%, 53%);
  --color-instagram: linear-gradient(
    to right,
    hsl(37, 97%, 70%),
    hsl(329, 70%, 58%)
  );
  --color-youtube: hsl(348, 97%, 39%);
  --bg-switch-light: hsl(230, 22%, 74%);
  --bg-switch-dark: linear-gradient(
    to right,
    hsl(210, 78%, 56%),
    hsl(146, 68%, 55%)
  );
  --bg-card-light: hsl(225, 100%, 98%);
  --bg-card-light-hover: hsl(227, 47%, 96%);
  --bg-card-dark: hsl(228, 28%, 20%);
  --bg-card-dark-hover: hsl(228, 28%, 23%);
}

/* Global styles */

* {
  box-sizing: border-box;
  margin: 0;
  margin-top: 0;
}

body {
  font-family: 'Inter', sans-serif;
  font-size: 14px;
  color: var(--color-dark);
  padding: 0 1.5rem;
  background-color: var(--body-bg-light);
}

.container {
  max-width: 1440px;
  margin: 0 auto;
}

.attribution {
  font-size: 11px;
  text-align: center;
  margin-top: 3rem;
  margin-bottom: 1rem;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}

/* Header styles */
.header-wrapper {
  margin-top: 1.5rem;
}

.header__head {
  padding: 1rem 0;
}

.header__title {
  font-size: 1.5rem;
}

.header__subtitle {
  color: var(--color-gray);
  margin-top: 0.4rem;
  font-weight: bold;
}

.devider {
  border-bottom: 0.1px solid var(--color-dark);
}

.header__foot {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 0;
  font-weight: bold;
  color: var(--color-gray);
  margin-bottom: 1.5rem;
}

/* Switch styles */
.switch {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 20px;
  margin-left: 1rem;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.switch .slider {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: var(--bg-switch-light);
  -webkit-transition: 0.4s;
  transition: 0.4s;
  cursor: pointer;
}

.switch .slider::before {
  position: absolute;
  background: #fff;
  content: '';
  top: 10%;
  bottom: 10%;
  right: 5%;
  height: 80%;
  width: 45%;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.switch input:checked + .slider {
  background: var(--bg-switch-dark);
}

.switch input:focus + .slider {
  box-shadow: 0 0 1px #2196f3;
}

.switch input:checked + .slider:before {
  -webkit-transform: translateX(-100%);
  -ms-transform: translateX(-100%);
  transform: translateX(-100%);
}

.switch .slider.round {
  border-radius: 50px;
}

.switch .slider.round:before {
  border-radius: 50%;
}

/* Stats Styles */
.stats {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.stats__card {
  position: relative;
  min-width: 100%;
  margin-bottom: 2rem;
  background: var(--bg-card-light);
  border-radius: 4px;
  padding: 1.2rem 0;
  overflow: hidden;
}

.stats__card::before {
  content: '';
  position: absolute;
  height: 4px;
  width: 100%;
  top: 0;
  background: var(--color-dark);
}

.stats__card:hover {
  background: var(--bg-card-light-hover);
}

.stats__card.stats__card-facebook::before {
  background: var(--color-facebook);
}

.stats__card.stats__card-twitter::before {
  background: var(--color-twitter);
}

.stats__card.stats__card-instagram::before {
  background: var(--color-instagram);
}

.stats__card.stats__card-youtube::before {
  background: var(--color-youtube);
}

.stats__link {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  color: inherit;
  text-decoration: none;
}

.stats__header,
.stats__followers,
.stats__new {
  padding: 0.75rem 0;
}

.stats__header {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
}

.stats__header a {
  color: var(--color-dark);
  text-decoration: none;
}

.stats__header img {
  margin-right: 0.5rem;
}

.stats__followers__number {
  font-size: 3rem;
  font-weight: bold;
}

.stats__followers__title {
  text-transform: uppercase;
  letter-spacing: 0.3rem;
  font-style: 0.8rem;
  color: var(--color-gray);
}

.stats__new {
  font-weight: bold;
}

.stats__new.stats__new-up {
  position: relative;
  color: var(--color-success);
}

.stats__new.stats__new-up::before {
  content: '';
  position: absolute;
  left: -15px;
  top: 13px;
  border-top: 5px solid transparent;
  border-right: 5px solid transparent;
  border-bottom: 5px solid var(--color-success);
  border-left: 5px solid transparent;
}

.stats__new.stats__new-down {
  position: relative;
  color: var(--color-danger);
}

.stats__new.stats__new-down::before {
  content: '';
  position: absolute;
  left: -15px;
  top: 18px;
  border-top: 5px solid var(--color-danger);
  border-right: 5px solid transparent;
  border-bottom: 5px solid transparent;
  border-left: 5px solid transparent;
}

/* Overview styles */
.overview__title {
  color: var(--color-dark);
  font-size: 1.6rem;
  margin-top: 1rem;
  margin-bottom: 2rem;
}

.overview__cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.overview__card {
  background: var(--bg-card-light);
  padding: 1.4rem;
  border-radius: 6px;
  margin-bottom: 1rem;
  cursor: pointer;
  min-width: 100%;
}

.overview__card:hover {
  background: var(--bg-card-light-hover);
}

.overview__card__header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.overview__card__footer {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-top: 1.3rem;
}

.overview__card__title {
  color: var(--color-gray);
  font-weight: bold;
}

.overview__number {
  font-size: 2rem;
  font-weight: bold;
}

.overview__percentage {
  font-weight: bold;
}

.overview__percentage.overview__percentage-up {
  position: relative;
  color: var(--color-success);
}

.overview__percentage.overview__percentage-up::before {
  content: '';
  position: absolute;
  left: -15px;
  top: 1px;
  border-top: 5px solid transparent;
  border-right: 5px solid transparent;
  border-bottom: 5px solid var(--color-success);
  border-left: 5px solid transparent;
}

.overview__percentage.overview__percentage-down {
  position: relative;
  color: var(--color-danger);
}

.overview__percentage.overview__percentage-down::before {
  content: '';
  position: absolute;
  left: -15px;
  top: 6px;
  border-top: 5px solid var(--color-danger);
  border-right: 5px solid transparent;
  border-bottom: 5px solid transparent;
  border-left: 5px solid transparent;
}

/* Responsive Styles */
@media screen and (min-width: 570px) {
  .devider {
    display: none;
  }

  /* Header styles */
  .header-wrapper {
    margin-top: 0;
  }

  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5rem 0;
  }

  /* Switch styles */
  .switch {
    width: 50px;
    height: 25px;
  }

  .switch .slider::before {
    position: absolute;
    background: #fff;
    content: '';
    top: 10%;
    bottom: 10%;
    right: 5%;
    height: 80%;
    width: 45%;
    -webkit-transition: 0.4s;
    transition: 0.4s;
  }

  /* Stats styles */
  .stats__card {
    min-width: 47%;
  }

  /* Overview styles */
  .overview__card {
    min-width: 47%;
  }
}

@media screen and (min-width: 920px) {
  .stats__card {
    min-width: 31%;
  }

  .stats__card:last-of-type {
    margin-left: auto;
    margin-right: auto;
  }

  /* Overview styles */
  .overview__card {
    min-width: 31%;
  }

  .overview__card:last-of-type {
    margin-right: auto;
    margin-left: 1.5%;
  }

  .overview__card:nth-last-of-type(2) {
    margin-left: auto;
    margin-right: 1.5%;
  }
}

@media screen and (min-width: 1270px) {
  .stats__card {
    min-width: 23%;
  }

  .stats__card:last-of-type {
    margin-left: 0;
    margin-right: 0;
  }

  /* Overview styles */
  .overview__card {
    min-width: 23%;
  }

  .overview__card:last-of-type {
    margin-right: 0;
    margin-left: 0;
  }

  .overview__card:nth-last-of-type(2) {
    margin-left: 0;
    margin-right: 0;
  }
}

/* Dark theme */
.dark {
  background: var(--color-dark);
  color: var(--color-light);
}

.dark .attribution a {
  color: hsl(228, 45%, 44%);
}

.dark .header__subtitle {
  color: var(--color-gray-light);
}

.dark .devider {
  border-bottom: 0.1px solid var(--color-gray-light);
}

.dark .header__foot {
  color: var(--color-gray-light);
}

.dark .switch .slider {
  background: var(--bg-switch-light);
}

.dark .switch input:focus + .slider {
  box-shadow: 0 0 1px #2196f3;
}

.dark .stats__card {
  background: var(--bg-card-dark);
}

.dark .stats__card:hover {
  background: var(--bg-card-dark-hover);
}

.dark .stats__header {
  color: var(--color-gray-light);
}

.dark .stats__followers__title {
  color: var(--color-gray-light);
}

/* Overview styles */
.dark .overview__title {
  color: var(--color-light);
}

.dark .overview__card {
  background: var(--bg-card-dark);
}

.dark .overview__card:hover {
  background: var(--bg-card-dark-hover);
}

.dark .overview__card__title {
  color: var(--color-gray-light);
}
